.event-modal {
  position: absolute;
  background: white;
  padding: 22px 26px 25px;
  width: 201px;
  border: 1px solid #43425D;
  border-radius: 8px;
  box-shadow: 0px 3px 18px #00000029;
  z-index: 1001;
  font-family: inherit;

  &__backdrop {
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 1000;
  }

  &__triangle {
    position: absolute;
    display: flex;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20.5px;
    
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: #d6d6d6;
  }

  &__input,
  &__textarea {
    height: 19.5px;
    width: 100%;
    line-height: 28.5px;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    font-family: inherit;
    background: transparent;
    box-sizing: border-box;
  }

  &__textarea {
    height: 22.5px;
    resize: none;
    overflow: hidden;
  }

  &__input[type="date"],
  &__input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: transparent;

    &.has-value {
       color: #43425D;
    }
    
  }

  &__input::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
  }

  &__input-wrapper {
    position: relative;
    align-items: center;
  }

  &__icon {
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    fill: #a5a4bf;
  }

  &__input--with-icon {
    padding-right: 28px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 8px;
  }

  &__right-buttons {
    margin-left: auto;
  }

  &__btn {
    padding: 6px 12px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  &__btn--primary {
    border: none;
    background-color: white;
    color: #6A6996;
  }

  &__btn--delete {
    border: none;
    background-color: white;
    color: #ff5f5f;
  }

  &__input::-webkit-calendar-picker-indicator {
    // opacity: 0;
    width: 100%;
    height: 100%;
    // position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}
